streamlit
streamlit-echarts
requests
pandas
matplotlib
plotly
sqlalchemy
yfinance
google-cloud-secret-manager
pg8000
google-auth
google-auth-oauthlib
google-auth-httplib2
beautifulsoup4
lxml
tqdm
gnews
google.generativeai
cloud-sql-python-connector[pg8000]